<!DOCTYPE html>
<html>

<head>
  <!--References
    https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_marketing&stacked=h
    https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_social_login-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="/static/custom.css">
</head>

<body>
  <!--Start of Body here-->
  <div class="w3-top">
    <div class="w3-row w3-large w3-light-grey">
      <div class="w3-col s3">
        <a href="#" class=" w3-block w3-button">Crypto System</a>
      </div>
      <div class="w3-col s3"></div>
      <div class="w3-col s3">

        <button type="button" class=" w3-block w3-button" onclick="logout()" name="Logout"> Logout</button>
      </div>
    </div>
  </div>
  <div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:40px">
    <div class="container w3-center">
      <h1>Hello, {{useremail}}</h1>

      <!---Row Starts here-->
      <div class="row">
        <h3 style="text-align:center">Operations Available</h3>

        <!-- Column to One key Encryption method AES -->
        <div class="col">
          <div class="w3-col ">
            <a href="/aes/{{useremail}}" class=" w3-block w3-button">One Key Encryption AES</a>
          </div>
        </div>
        <!-- Column to Two key file encryption method -->
        <div class="col">
          <div class="w3-col ">
            <a href="/rsa/{{useremail}}" class=" w3-block w3-button">Two Key Encryption RSA</a>
          </div>


        </div>
        <!-- Column to Compare Hash of two files -->
        <div class="col">
          <div class="w3-col ">
            <a href="/hash/{{useremail}}" class=" w3-block w3-button">Hash a File</a>
          </div>
        </div>

      </div>
      <!---Row Ends here-->
    </div>
  </div>
  <div class="w3-content" style="max-width:1100px;margin-top:10px;margin-bottom:40px">
    <div class="container w3-center">
      <!-- Row to display the files Starts -->
      <h3 style="text-align:center">List of Encrypted files below</h3>
      <div class="row" id="divtofiles">




      </div>
      <!-- Row display the files ENds here -->
    </div>
  </div>
  <div id="decryptdiv" class="w3-content" style="max-width:1100px;margin-top:10px;margin-bottom:40px; display: none;">
    <div class="container w3-center">
      <h4 style="text-align:center">Decrypt the following file</h4>
      <p id="nameoffile"></p>
    </div>
  </div>

  <!--END of Body here-->

  <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->
  <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-app.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-analytics.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/firebase/8.4.1-202131362347/firebase-auth.min.js"
    integrity="sha512-l0i+O3AfLS/mtNotaGw8tg4qg5bVCZDEwUDiDjAicmBrR0G+lqMlmSozvfPcX1TwliG4tbuFgo2l/xAlFc0NkQ=="
    crossorigin="anonymous"></script>
  <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-storage.js"></script>

  <script>

    if (document.getElementById('decryptdiv').style.display == 'block') {
      document.getElementById('decryptdiv').style.display = 'none';
    }
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    var firebaseConfig = {
      apiKey: "AIzaSyByT3jioOwrU62L3AnxqPIqB-EFihwsRlI",
      authDomain: "crypto-8f870.firebaseapp.com",
      databaseURL: "https://crypto-8f870-default-rtdb.firebaseio.com",
      projectId: "crypto-8f870",
      storageBucket: "crypto-8f870.appspot.com",
      messagingSenderId: "826758797675",
      appId: "1:826758797675:web:75ac6146638f23a91cd42e",
      measurementId: "G-DGDHH1DP16"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
    var us_email = "{{useremail}}";
    var referencelist = firebase.storage().ref().child('/').child(us_email);




    // reading file names form the rsa encrypted folder
    let url = "/getfilename"
      fetch('/getfilename/'+us_email, {
        method: "GET",
        cache: "no-cache",
        headers: new Headers()
      })
        .then(function (response) {
          if (response.status !== 200) {
            console.log(`Looks like there was a problem. Status code: ${response.status}`);
            return;
          }
          //alert(response.items);
          response.json().then(function (data) {
            data.public.forEach(function(v){
              var t = '<div class=\"row\"><div class=\"col w3-container w3-hover-shadow\"><a href="#">' + v + '\'</a></div><div class=\"col w3-left\"><button onclick="decryptit(\'' + v + '\')">Select it for decryption.</button></div><div class=\"col w3-left\"><button onclick="downloadenc(\'' + v + '\')">Download.</button></div></div>';
              document.getElementById("divtofiles").innerHTML = document.getElementById("divtofiles").innerHTML + t;
            });
            
            console.log(data.public);
          });
        })
        .catch(function (error) {
          console.log("Fetch error: " + error);
        });

    function  downloadenc(val){
      var postData = {
      filetrname : val,
      usersnm : '{{useremail}}',
      }
 
      $.ajax({
    url: "/downloadenc",
    type: "POST",
    contentType: "application/json",
    data: JSON.stringify(postData),
    success: function(datsa){/* do something */
    console.log(datsa);
    var myWindow = window.open(val, "");
     myWindow.document.write(datsa);
    
  } 
  });



    }
    // function to show decrypt window
    function decryptit(val) {
      var dediv = document.getElementById('decryptdiv');
      if (dediv.style.display == 'none') {
        dediv.style.display = 'block';
        console.log(val);
        temphtml = '<tr><td>File Name:</td><td>' + val + '</td></tr><br><tr><form  method ="POST" action="/decryptthefile"><input type="hidden" name="username" value="' + us_email + '" ><input type="hidden" name="filename" value="' + val + '" ><input type="submit" value="Decrypt it"></form></tr>';
        document.getElementById("nameoffile").innerHTML = temphtml;
      }
      else {
        dediv.style.display = 'none';
      }
    }

    function download(){




      
    }
    function logout() {
      firebase.auth().signOut().then(function () {
        // Sign-out successful.
        window.location = "/";
      })
        .catch(function (error) {
          // An error happened
        });
    }
  </script>
</body>

</html>